<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
<!--    <script type="text/javascript">-->
<!--        window.onload = function (){-->
<!--            var del_button = document.getElementsByTagName("del_button");-->
<!--            del_button.onclick = function(){-->

<!--            }-->
<!--        }-->
<!--    </script>-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.js}"></script>
</head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>名字</th>
                <th>职位</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="list:${guestlist}">
                <td th:text="${list.name}">名</td>
                <td th:text="${list.role}">职位</td>
                <td><a th:href="@{/guest/toUpdate/}+${list.name}">修改</a></td>
<!--                <td><a th:href="@{/guest/delete(name=${list.name})}">删除</a></td>-->
                <td>
                    <button th:attr="del_url=@{/guest/}+${list.name}" name="del_button">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/guest/toAdd" th:href="@{/guest/toAdd}">add</a>
    <!--删除按钮借助的表单-->
    <form method="post" id="del_form">
        <input type="hidden" name="_method" value="delete">
    </form>

    <script type="text/javascript">
        $(function (){
            $("button[name='del_button']").click(function (){
               $("#del_form").prop("action",$(this).attr("del_url")).submit();
            });
        });
    </script>
</body>
</html>